.navbar{
    /* display: flex;
    flex-wrap: wrap; */
}
.navbar_links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
}

.navbar_burger{
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    color: inherit;
}
@media screen and (max-width: 800px){
    /* .navbar_links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        padding: 3rem;
        background-color: inherit;
        background-color: black;
    } */
    .navbar_link{
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navbar_burger{

    }
    .navbar-bar,
    .navbar-bar::before,
    .navbar-bar::after{
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        background-color: #fff;
    }
}